@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb) var(--scroll-background);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-background));
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 14px;
} 

@tailwind components;
@tailwind utilities;

:root {
  --scroll-background: #1c1917;
  --scroll-thumb: #57534e;
}

.syntax {
  padding: 0 !important;
  margin: 0 !important;
  background: #0c0a09 !important;
}
